

body {
  background-image: url("https://images.unsplash.com/photo-1586993451228-09818021e309?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTE5fHxiZWVyJTIwcG91cnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: repeat-y;
  background-size: 100%;

 }

 .title {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   font-size: 47px;
   text-align: center;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   border: 0px;
   padding: 7px;
   height: 150px;
  
   background-size: auto;
   background-repeat: no-repeat;
   background-position-y: center;
   flex-grow: inherit;
   position:static;

 }
   /* https://www.w3schools.com/css/css3_animations.asp */
 
 @keyframes blink {
   0% {color: rgb(170, 16, 119);} 25% {color: rgb(218, 112, 209);} 50% {color: goldenrod;} 75% {color: orangered;} 100% {color:rgb(144, 0, 55);}
 }


 p {
  color:rgb(211, 148, 1);
  font-family: 'Orbitron', sans-serif;
  font-weight: 40px;
   margin-left: auto;
   margin-right: auto;
   font-size: 15px;
   height: 15px;
  background-color: rgba(65, 61, 61, 0.959);
  text-align: center;
  width: 90px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
 }

 #brewery-form{
  text-align: center;
  color:rgb(0, 0, 0);
  width: 300px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display:flexbox;
 }

 #get-brewery {
  background-color:rgba(47, 45, 45, 0.774);
  font-family: 'Inconsolata', monospace;
  color: orangered;
  height: 35px;
  shape-rendering: optimizeSpeed;
  border-radius: 10px;
  
}

#input-search {
  background-color: rgba(128, 128, 128, 0);
  font-family: 'Inconsolata', monospace;
  width: 300px;
  height: 30px;
  color:rgb(143, 0, 148);
}

 .brew-data {
  font-family: 'Cuprum', sans-serif;
  display: flexbox;
  flex-flow: column;
  text-align: justify;
} 

.brewery {
  display: flexbox;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-flow: row;
  border: 5px solid goldenrod;
  background-color:rgba(245, 214, 147, 0.815);
  width: 280px;
  padding: initial;
  margin: 20px;
  text-align: justify;
}





@media screen and (min-width:440px){
  body {
    background-image: url ('https://unsplash.com/photos/1MqDCpA-2hU');
    background-size: 100%;
    font-family: 'Anton', sans-serif;
  }
  .title {
    font-size: 100px;
    text-align: center;
  }
h1 {
  margin-top: 10px;
}

  #brewery-form {
    margin-top: 100px;
  }

  p {
    margin-top: 110px;
    height: 40px;
    width: 200px;
    font-size: 30px;
    text-align: center;
  }

  .brewery-data {
    display: flex;
    flex-flow: row;
    align-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-count: 2;
  }
}

@media screen and (min-width: 440px) and (max-width: 740px){
  body {background-size: 0%;
    background-color: black;
  }
}